*{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
}

.wrapper {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

/* Menu bse styles */
nav {
  background:#333;
}

nav ul {
  list-style-type:none;
  padding: 0;
}

nav ul a {
text-decoration: none;
text-align:centre;
color: #fff;
padding: 10px;
display: block;

}

 nav a:hover{
   background-color: #555;
 }

 /* Media Queries */
 @media screen and (min-width:768px) {
   nav ul {
     display: flex;
     justify-content: flex-start;
   }

   nav li {
     flex: 1 1 0;
   }
 }