* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
}

body {
  background-color: #eee;
}

.wrapper {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.flex-container {
  background-color: #fff;
  display: flex;
}

.box {
  height: 100px;
  width: 320px;
}

.one {
  background-color: orange;
  flex-shrink: 1;
}

.two {
  background-color: orangered;
  flex-shrink: 2;
}

.three {
  background-color: violet;
  flex-shrink: 6;
}

