








@media screen and (min-width:768px) {
    body {
        font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    }

    *{
        box-sizing: border-box;
    }

    header {
        background: #000;
    }
    
    .container {
        width: 1000px;
        margin: 0 auto;
        padding: 35px;
    }

    .main-navbar {
        display: flex;
        justify-content: space-between;
    }

    .main-nav {
        display: flex;
        align-items: center;
        padding-left: 0;
        justify-content: space-around;   
    }

    .main-nav a {
        display: block;
        margin-right: 15px;
        color: #fff;
        font-size: .8em;
        font-weight: 600;
    }


    /* Transition effets */

    .main-nav a:after {
        background: none repeat scroll 0 0 transparent;
        bottom: 0;
        content: "";
        display: block;
        height: 2px;
        left: 50%;
        position: absolute;
        background: #fff;
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
    }
    .main-nav a:hover:after {
        width: 83%; 
        left: 0;
    }

    /* transition end */

    .main-nav li {
        position: relative; 
    }

    .login-signup {
        display: flex;
        align-items: center;
    }

    .login {
        border: none;
        background-color: #000;
        margin-right: 15px;
    }
       
    .login a {
        color: #fff;
        font-size: .9em;
        font-weight: 600;
    }
    
    .sign-up {
        padding: 6px 10px;
        background-color: #000;
        border: 2px solid #fff;
        border-radius: 5px;
    }

    .sign-up a {
        color: #fff;
        font-size: .8em;
        font-weight: 600;
    }

   .logo-container {
       width: 100%;
       text-align: center;
       margin-bottom: 10px;
   }

    .search-bar {
        display: flex;
        align-items: center;
        width: 100%;
        margin: 0;
        background-color: #fff;
        border-radius: 10px;
    }

    .search-bar input {
        padding: 8px;
        width: 42.5%;
        outline:none;
        font-size: 1em;
        font-weight: 500;
    }

    .primary-search {
        border-bottom: 0;
        border-top: 0;
        border-left: 0;
        border-right: 3px solid #bdbdbd;
    }

    .secondary-search {
        border: none;
    }

    .find, .near {
        background: #fff;
        padding: 11.5px;
        font-weight: 600;
        opacity: .7;
        border-radius: 10px;
    }

    .search-button {
        background-color:#d32323;
        padding: 1%;
        display: inline-block;
        border-radius:0 10px 10px 0 ;
    }

    .material-icons {
        color: #fff;
        vertical-align: middle;
        padding: 4px;    
    }

    .categories {
        display: flex;
        justify-content: center;   
    }

    .categories li {
        display: flex;
        align-items: center;
        margin: 8px;
    }

    .categories a {
        color: #fff;
        font-size: .9em;
        font-weight: 600;
    }

    .yelp-support {
        text-align: center;
    }

    .yelp-support h3, .yelp-support p, .yelp-support a {
        color: #fff;
    }

    .yelp-support h3 {
        font-size: .9em;
        margin-bottom: 5px;
    }

    .yelp-support p {
        font-size: .9em;
        line-height: 1.3em;
    }

    .yelp-support a {
        display: block;
        font-size: .9em;
        font-weight: 600;
        margin-top: 12px;
        text-decoration: underline;
    }

    main {
        background-color: #EEEEEE;
    }

    .container h2 {
        text-align: center;
        color: #d32323;
        margin-bottom: 15px;
        margin-top: 0;
    }

    .primary-content {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .businesses {
        border: 1px solid #eee;
        background-color: #fff;
        width: fit-content;
        padding: 0;
    }

    .businesses:hover {
        box-shadow: 0 15px 15px 8px #e0e0e0;
    }


    .businesses img {
        width: 100%;
    }

    .businesses p {
        color: #000;
        text-align: center;
        font-size: .9em;
        font-weight: 600;
        padding: 8px;
    }


    .regions {
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 2px solid #eee;
    }

    .regions a {
        color: black;
        display: block;
        padding-right: 10px;
        padding-left: 10px;
        font-size: .9em;
        opacity: .8;
        padding-bottom: .5em;
    } 

    .search-cities {
        display: flex;
        align-items: center;
        padding: 0;
    }

    .search-cities a {
        padding: 0;
    }

    .search-icon {
        color: black;
    }

        /* Transition effets */

    .regions a:after {
        background: none repeat scroll 0 0 transparent;
        bottom: 0;
        content: "";
        display: block;
        height: 2px;
        left: 50%;
        position: absolute;
        background: #d32323;
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
    }
    .regions a:hover:after {
        width: 100%; 
        left: 0;
    }

    .regions li {
        position: relative;
    }
    
    /* transition end */

    .secondary-content h3 {
        font-weight: .8em;
        color:#d32323;
        text-align: center;
    }

    .product-container {
        display: flex;
        /* flex-direction: row-reverse; */
        /* justify-content: space-between; */
    }

    .products {
        margin: 0 1.5em;
        margin-top: .7em;
        width: 300px;
        border: 1px solid #bddbbd;
    }

 

    .type {
        color:#000;
        padding-left: 10px;
        padding-bottom: 8px;
        font-size: .9em;
    }

    .heading {
        color:#0073BB;
        padding-left: 10px;
        padding-bottom: 8px;
    }

    .products img {
        width: 100%;
        height: 180px;
    }

    .star {
        padding-bottom: 8px;
        padding-left: 10px;
    }

    .fa-star {
        color:#d32323;
        padding: 2px;
        border-radius: 2px;
        opacity: .8;
    }

    .unchecked {
        color: #bdbdbd;
      
    }

    .fa-fire {
        color: #F15C00;
        opacity: .8;
        padding-left: 10px;
        padding-bottom: 10px;
    }

    .fire-text {
        color: #F15C00;
        font-size: .9em;
    }

    .more-business {
        text-align: center;
        color: #0073BB;
        font-size: 1em;
        padding-top: 1.2em;
        padding-bottom: 2.5em;
    }

    .coffee-box h3 {
        font-size: 1em;
        color: #d32323;
        text-align: center;
        padding-bottom: 1em;
    }

    .local-yelp-container {
        display: flex;
        justify-content: space-between;
    }

    .image-box {
        border: 1px solid #bdbdbd;
    }

    .image-box h4 {
        font-size: 1em;
        color:#0073BB;
        margin-bottom: 5px;
        margin-top: 5px;
        padding-left: .8em;
        padding-right: .8em;
    }

    .image-box p {
        font-size: .9em;
        text-align: justify;
    }

    .image-box a {
        color:#0073BB  
    }

    .image-box p {
        padding-bottom: .8em;
        padding-left: .8em;
        padding-right: .8em;
    }

    /* .local-yelp {
        background-color: orangered;
    } */

    .local{
        color: #bdbdbd;
    }
    
    .coffee-box {
        min-width: 500px;
        /* background-color: #d32323; */
    }

    .coffee-box img {
        width: 100%;
        height: 225px;
    }

    .yelp-event {
        min-width: width 300px;
        margin-left: 3em;
        height: 100%;
        /* background-color: #d32323; */
    }

    .yelp-event h3 {
        font-size: 1em;
        color: #d32323;
        text-align: center;
        padding-bottom: 1em;
    }

    .yelp-event h4 {
        color:#0073BB;
        margin-bottom: 5px;
        margin-top: 5px;
        font-size: 1em;
    }

    .yelp-event img {
        width: 100%;
        height: 200px;
    }

    .date {
        color: #bdbdbd;
    }

    .rvw-box {
        display: flex;
        width: 1000px;
        margin: 0 auto;
    }

    .rvw {
        width: 680px;
    }

    .brittany {
        display: flex;
        align-items: center;
    }

    .brit-img {
        margin-right: 15px;
        height: auto;
        border-top-right-radius: 4px;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        width: 65px;
    }

    .details span {
        font-size: 14px;
        align-items: center;
        vertical-align: middle;
    }

    .review-day {
        display: flex;
        align-items: center;
        position: relative;
    }

    .review-day p {
        background-color: #D0ECFB;
        width: 100%;
        margin-top: 10px;
        padding: 4px 0;
    }

    .review-day img {
        position: absolute;
        right: 0;
    }

    .detailed-info {
        padding-top: 10px;
        padding-left: 0;
        text-align: justify;
    }

    .review-heading  {
        font-size: 1em;
        color: #d32323;
        text-align: center;
        padding-bottom: 1em;
        margin:0
    }

    .recent-collection {
        width: 300px;
        margin-left: 2em;
    }


}

