body {
  background: #eee;
}
  
.wrapper {
  background: #fff;
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}
  
.wrapper:after {
  content: "";
  display: block;
  clear: both;
}

.content {
  padding: 10px;
  clear: both;
  margin-top: 20px 1%;
}

.content p {
  text-align: justify;
  -webkit-column-count: 3;
  column-count: 3;
  -webkit-column-gap: 50px;
  column-gap: 50px;
  -webkit-column-rule: 1px solid #ccc;
  column-rule: 1px solid #ccc;
}

section, aside {
  float: left;
  width: 46%;
  padding: 1%;
  margin: 1%;
  text-align: justify;
  background: #f2f2f2;
}

.rowcontent {
  background-color: #f2f2f2;
  margin: 10px;
  padding: 10px;
  text-align: justify;
}

.columns:after {
  display: block;
  content: "";
  clear: both;
}

nav {
  background: #333;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

nav ul:after {
 content: "";
 display: block;
 clear: both;
}

nav li {
  list-style-type:none;
  margin: 0 10px;
  color: #fff;
  float: right;
}


  